.ul li:last-child .institution {
    border: none;
}

.ul li:before {
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #E5E7EB;
    content: "";
    position: relative;
    top: 15px;
    right: 3px;
}